body{
  /*background-color: #D5D5D5;*/
  background-color: #DEDEDE;
}
/*animation button*/
#animated_logout {
  border-radius: 4px;
  /*background-color: #f4511e;*/
  border: none;
  color: #FFFFFF;
  text-align: center;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  /*margin: 5px;*/
}

#animated_logout i {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#animated_logout i:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#animated_logout:hover i {
  padding-right: 10px;
}

#animated_logout:hover i:after {
  margin-top: -2px;
  opacity: 1;
  right: 0;
}
/*fieldset */

.bg-image{
  background: url(/images/bg2.jpg);
  background-repeat: no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.img-responsive{
  width: 12%;
  margin-left: -258px;
  margin-top: -5px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #337ab7;
}
.alert-warning {
    color: #eaeaea;
    background-color: hsl(4, 50%, 50%);
    border-color: #d25f57;
}
.navbar-default {
    background-image: none;
    background-color: 	#278ed2;
    border-color: #e7e7e7;
}
.panel{
  box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.13);
}
/*Nav Menu*/
.navbar-default .navbar-brand
{
  color: #FFF;
}
.navbar-default .navbar-nav > li > a
{
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
  color: #D1D1D1;
}
/*End Nav Menu*/
/*Menu dropdown*/
.dropdown-menu > li.header_menu > a{
  font-weight: bold;
}
.dropdown-menu > li.header_menu > a:hover{
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
  background-color: #fff;
}

/*end Menu dropdown*/

.box
{
  border: 1px solid rgb(201, 201, 201);
  padding: 6px;
  border-radius: 5px;
}
.box_title
{
  border: 1px solid rgb(135, 127, 127);
  padding: 17px;
  margin-bottom: 9px;
  border-radius: 5px;
}
