/*Style Apply To Template Psychologist*/
.inbox-top {
  background: #607D8B;
  line-height: 10px;
  padding: 9px 30px;
  position: relative;
  padding-top: 15px;
  margin-bottom: 30px;
  color: azure;
  padding-bottom: 15px;
}
.inbox-test {
  background: #fff;
  line-height: 10px;
  padding: 9px 30px;
  position: relative;
  padding-top: 15px;
  rgb(234, 234, 234)
  /*margin-bottom: 30px;*/
}
.sansserif {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
}
